.header{
    background-color: #ffffff;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    padding-left: 16px;
    padding-right: 11px;
}
@media screen and (min-width: 768px){
   .header{
        padding-left: 32px;
        padding-right: 27px;
   }
}
@media screen and (min-width: 1024px){
    .header{
        padding-left: calc(50% - 512px + 60px);
        padding-right: calc(50% - 512px + 55px);
    }
}
@media screen and (min-width: 2560px){
    .header{
        padding-left: calc(50% - 585px);
        padding-right: calc(50% - 590px);
    }
}
.header svg{
    margin-right: auto;
    background-color: #ffffff;
}