.success-block{
    padding-top: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 328px;
}
@media screen and (min-width: 768px){
    .success-block{
        width: 704px;
    }
}
@media screen and (min-width: 1024px){
    .success-block{
        width: 904px;
    }
}
@media screen and (min-width: 2560px){
    .success-block{
        width: 1170px;
    }
}
.success-block h2{
    margin-bottom: 50px;
}
.success-block span{
    align-self: flex-start;
    margin-top: 117px;
    margin-bottom: 17px;
}